<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>ManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
     <description></description>
     <display-name>UserServlet</display-name>
     <servlet-name>UserServlet</servlet-name>
     <servlet-class>com.mvc.controller.UserServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>UserServlet</servlet-name>
     <url-pattern>/UserServlet</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>ForgotPasswordAction</display-name>
     <servlet-name>ForgotPasswordAction</servlet-name>
     <servlet-class>com.mvc.controller.ForgotPasswordAction</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>ForgotPasswordAction</servlet-name>
     <url-pattern>/ForgotPasswordAction</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>LoginServlet</display-name>
     <servlet-name>LoginServlet</servlet-name>
     <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>LoginServlet</servlet-name>
     <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.mvc.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
     <description></description>
     <display-name>LogoutServlet</display-name>
     <servlet-name>LogoutServlet</servlet-name>
     <servlet-class>com.mvc.controller.LogoutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>LogoutServlet</servlet-name>
     <url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>RetriveImage</display-name>
     <servlet-name>RetriveImage</servlet-name>
     <servlet-class>com.mvc.controller.RetriveImage</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>RetriveImage</servlet-name>
     <url-pattern>/RetriveImage</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>ShowRecord</display-name>
     <servlet-name>ShowRecord</servlet-name>
     <servlet-class>com.mvc.controller.ShowRecord</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>ShowRecord</servlet-name>
     <url-pattern>/ShowRecord</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>EditUser</display-name>
     <servlet-name>EditUser</servlet-name>
     <servlet-class>com.mvc.controller.EditUser</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>EditUser</servlet-name>
     <url-pattern>/EditUser</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>EditServlet</display-name>
     <servlet-name>EditServlet</servlet-name>
     <servlet-class>com.mvc.controller.EditServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>EditServlet</servlet-name>
     <url-pattern>/EditServlet</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>UserDetail</display-name>
     <servlet-name>UserDetail</servlet-name>
     <servlet-class>com.mvc.controller.UserDetail</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>UserDetail</servlet-name>
     <url-pattern>/UserDetail</url-pattern>
 </servlet-mapping>
</web-app>